<style>
    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        transition: width 0.4s ease-in-out;
    }
    
    button {
        background-color: #4CAF50;
        transition-duration: 0.4s;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin: auto;
        display: block;
    }
   input.ng-invalid {
        border-color: red;
    }
</style>
<form #basicForm="ngForm" (ngSubmit)="getValues(basicForm.value)">
    Employee Name:
    <input type="text" ngModel name="EmployeeNAME" placeholder="Enter name"><br><br> Employee Address:
    <input type="text" ngModel name="EmployeeADR" placeholder="Enter Address"><br><br> Employee PhoneNumber:
    <input type="text" ngModel name="EmployeeNO" required minlength="10" maxlength="10" pattern="^[0-9]+$" placeholder="Enter Phone Number"><br><br>
    <div class="form-group">
        <label for="email"> Employee Email:</label>
        <input type="text" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" name="email" ngModel #emailref="ngModel">
        <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="alert alert-danger">
            <div [hidden]="!emailref.errors?.pattern">
                Invalid pattern
            </div>
        </div>
    </div><br><br> Employee DOB:
    <input type="date" ngModel name="EmployeeDOB" placeholder="Enter DOB"><br><br>


    <button>Submit</button>
</form>
